<%- include("layouts/navbar") %>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-7">
                <a href="/tambah-data_guru" class="btn btn-primary">Tambah Data Guru</a>
                <% if(session.successMsg) { %>
                    <div class="alert alert-success mt-3">
                        <%= session.successMsg %>
                    </div>
                    <% } %>
                        <table class="table table-bordered border-primary table-hover mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mapel</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let i = 1; %>
                                    <% dataGuru.forEach(data => { %>
                                        <tr>
                                            <th>
                                                <%= i %>
                                            </th>
                                            <td>
                                                <%= data.nama %>
                                            </td>
                                            <td>
                                                <%= data.email %>
                                            </td>
                                            <td>
                                                <%= data.mapel %>
                                            </td>
                                            <td>
                                                <a href="/edit-data_guru/<%= data.id %> " class="badge bg-success text-light">Edit</a>
                                                <form action="/hapus-data_guru/<%= data.id %>" method="POST" class="d-inline-block formDelete">
                                                    <button class=" badge bg-danger " type="submit ">Hapus</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% i++ %>
                                            <% }) %>
                            </tbody>
                        </table>
                        <% if (dataGuru.length == 0) { %>
                            <p class="text-center">Data tidak ada!</p>
                            <% } %>
            </div>
        </div>
    </div>